/* Base styles */
.calendarcontainer {
  display: flex;
  padding: 0 10%;
  margin-top: 5%;
  flex-wrap: wrap;
  justify-content: center;
}

.event {
  flex: 0 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  height: auto;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  padding: 5%;
  box-sizing: border-box;
}

.eventday {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.eventday:hover {
  background-color: gray;
  color: rgb(0, 0, 0);
}

.currentdate {
  margin: 40px 0;
  font-size: 1.25rem;
}

.eventname {
  margin: 5px 0;
  font-size: 1.875rem;
}

.custombtn {
  margin: 30px;
  width: 80px;
  height: 40px;
  background-color: green;
  color: white;
  font-weight: 700;
}

/* Responsive styles */
@media (max-width: 768px) {
  .calendarcontainer {
    padding: 0 5%;
  }

  .event {
    flex: 0 1 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }

  .currentdate,
  .eventname{
    font-size: 1rem;
  }

  .custombtn {
    width: 100px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .calendarcontainer {
    padding: 0 2%;
  }

  .currentdate,
  .eventname {
    font-size: 0.875rem;
  }



  .custombtn {
    width: 80px;
    height: 40px;
  }
}
