.div {
  text-align: center;
  margin: 20px; 
}
.h1 {
  color: #4285F4;
  font-size: 40px;
  font-family: 'Arial', sans-serif; 
}
.pic {
  width: 100px;
  height: auto; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%; 
  margin-top: 10px;
}
.button {
  background-color: #4285F4;
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 1em; 
  margin-top: 20px; 
  margin-inline: 10px;
}
.button:hover {
  background-color: #357ae8;
}
.logout{
  background-color: rgb(219, 21, 21);
  color: white;
  
}
.logout:hover{
  background-color: #ca2727;

}